<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ye.back.mapper.RoleMapper">

    <select id="selectAllRoleNamesByUsername"  resultType="java.lang.String">
        select role_name
        from user natural join user_role natural join role
        where user.username = #{username}
    </select>
</mapper>
