<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ye.back.mapper.TermMapper">

    <sql id="select">
        term_id, term_name, term_status
    </sql>

    <select id="getAllTerm" resultType="com.ye.back.entity.Term">
        select <include refid="select"></include>
        from term
        where term_status != 2
        order by term_id desc
    </select>
</mapper>
